<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="env" value="qa" />
  <test thread-count="5" name="Test">
    <classes>
      <class name="restfulbooker.MultipleBookings"/>
      <class name="basicconcepts.RequestAndResponseSpecification2"/>
      <class name="basicconcepts.UseOfDefaultVariables"/>
      <class name="basicconcepts.RequestAndResponseSpecification"/>
      <class name="basicconcepts.MeasureResponseTime"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
